:root {
    --Verde: #5CA720;
    --Preto: #161616;
    --Cinza: #A5A1A1;
    --CinzaFooter: #F9F9F9;
}
* {
    font-family: 'Lato';
    color: var(--Preto);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
hr {
    color: var(--Cinza);
}
/* Topo da página */

/* Selfcare */

.top-page .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.container .logo svg {
    margin-left: 30px;
    width: 18px;
    height: 17px;
}
.container .logo b {
    margin-left: 5px;
    font-size: 20px;
}

/* Icons */

.container .navigation {
    margin-right: 30px;
}

.banner img {
    width: 100%;
}
/* Products */

/* Products-Promotions */

.products-promotions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.products-promotions b {
    margin-left: 30px;
}
.products-promotions span {
    margin-right: 30px;
}

/* Product Ajust */

.products-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
}
.product {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 0 30px;
}
.product-image {
    width: 100%;
    height: 70%; 
}
.product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}


/* Product Info-Price */

.product h3 {
    font-size: 16px;
    margin: 8px 0;
}
.product span {
    font-weight: 600;
}
.product b {
    color: var(--Verde);
}

/* About (Footer) */
footer {
    background-color: var(--CinzaFooter);
}
.infos, .social {
    display: flex;
    flex-direction: row;
    padding: 40px;
    justify-content: space-between;
}

/* Contact and More */
.contact {
    display: flex;
    flex-direction: column;
    font-weight: 600;
}
.contact span {
    margin-bottom: 8px;
}

/* Email */
.email h3 {
    font-size: 15px;
}
.email input {
    margin-top: 10px;
    border: 1px solid;
    font-weight: 500;
    border-radius: 5px 0 0 5px;
    border-color: var(--Cinza);
    padding: 10px 50px 10px 10px;
}
.email button {
    margin-top: 10px;
    background-color: var(--Verde);
    border: none;
    border-radius: 0 5px 5px 0;
    font-weight: 600;
    color: white;
    padding: 11px 25px;
}

/* Social and Payments Methods */
.social-icons svg{
    width: 25px;
    height: 24px;
    margin-right: 15px;
}
.payments svg {
    margin-left: 15px;
}
a{
    text-decoration: none;
}